<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>سامانه مدیریت نمایندگان شرکت مهرآذین بهراد</title>
<link rel="stylesheet" type="text/css" href="static/view2_admin.css" media="all">
<script type="text/javascript" src="static/view2_admin.js"></script>
<script type="text/javascript" src="static/calendar.js"></script>
</head>
<body id="main_body" dir="rtl">

	<img id="top" src="top.png" alt="">
	<div id="form_container">

		<h1><a>Untitled Form</a></h1>
		<form id="form_31713" class="appnitro"  method="post" action="/show-user-info">
					<div class="form_description">
			<h2>سامانه مدیریت نمایندگان شرکت مهرآذین بهراد</h2>

		</div>
			<ul >

			<li id="li_1" >

		<label class="description" for="element_1">نمایندگی </label>
		<div>
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value="{{name}}" readonly="readonly"/>
		</div>
		</li>
		<li id="li_3" >
		<label class="description" for="element_3_5">دوره زمانی </label>
		<span>
		<label for="element_3_5">ماه</label>
		<select class="element select large" id="element_3_5" name="element_3_5">
			<option value="1" selected="selected">فروردین</option>
            <option value="2" >اردیبهشت</option>
            <option value="3" >خرداد</option>
			<option value="4" >تیر</option>
			<option value="5" >مرداد</option>
			<option value="6" >شهریور</option>
			<option value="7" >مهر</option>
			<option value="8" >آبان</option>
			<option value="9" >آذر</option>
			<option value="10" >دی</option>
			<option value="11" >بهمن</option>
			<option value="12" >اسفند</option>
		</select>

		</span>
		<span>
			<label for="element_2_2">سال</label>
			<select class="element select large" id="element_2_2" name="element_2_2">
            <option value="1400" selected="selected" >1400</option>
            <option value="1401" >1401</option>
			<option value="1400" >1402</option>
            <option value="1401" >1403</option>
		</select>

		</span>

		</li>

		<li class="buttons">
			    <input type="hidden" name="form_id" value="31713" />
				<input id="saveForm" class="button_text" type="submit" name="submit" value="جستجوی اطلاعات کاربر" />
		</li>
			</ul>
		</form>
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>