<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F220603956097460" title="oEmbed Form">
<link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F220603956097460" title="oEmbed Form">
<meta property="og:title" content=" سامانه مدیریت نمایندگان شرکت مهرآذین بهراد" >
<!--<meta property="og:url" content="https://form.jotform.com/220603956097460" >-->
<!--<meta property="og:description" content="Please click the link to complete this form." >-->
<!--<meta name="slack-app-id" content="AHNMASS8M">-->
<!--<link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021.svg">-->
<!--<link rel="canonical" href="https://form.jotform.com/220603956097460" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>سامانه مدیریت نمایندگان شرکت مهرآذین بهراد</title>
<style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5eb3b4ae85bd2e1e2966db96"/>
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.31519" />
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.31519" />
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
.form-label.form-label-auto {

      display: block;
      float: none;
      text-align: left;
      width: 100%;

      }
    /* Injected CSS Code */
</style>

<script src="https://cdn01.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="../static/myjs.js" type="text/javascript"></script>

<script type="text/javascript">	JotForm.newDefaultTheme = true;
	JotForm.extendsNewTheme = false;
	JotForm.newPaymentUIForNewCreatedForms = false;
	JotForm.newPaymentUI = true;

	JotForm.init(function(){
	/*INIT-START*/
	/*INIT-END*/
	});


</script>

</head>
<body>
<form class="jotform-form" action="/show_factor_user" method="post" name="form_220603956097460" id="220603956097460" accept-charset="utf-8" autocomplete="on">
  <input type="hidden" name="formID" value="220603956097460" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <style>
      .form-all:before { background: none;}
    </style>
    <ul class="form-section page-section">
      <li id="cid_10" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httac htvam">
            <h2 id="header_10" class="form-header" data-component="header">
              سامانه مدیریت نمایندگان شرکت مهرآذین بهراد
            </h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_69">
        <label class="form-label d-flex justify-content-end align-items-end pe-3" style="min-height:24px; text-align: center; font-size:18px"id="label_69" for="input_69"> اطلاعات مربوط به عملکرد نمایندگی </label>
        <div id="cid_69" class="form-input-wide" data-layout="half">
          <input type="text" id="input_69" name="element_11" data-type="input-textbox" class="form-readonly form-textbox" data-defaultvalue="" style="width:310px" size="310" value="{{name}}" tabindex="-1" data-component="textbox" aria-labelledby="label_69" readonly="readonly" />
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_73">
        <label class="form-label form-label-top form-label-auto" style="min-height:24px; text-align: center; font-size:24px" id="label_73" for="first_73"> بازه زمانی </label>
        <div id="cid_73" class="form-input-wide" data-layout="full">
          <div  class="form-input-wide" data-layout="half"  style="float:left; important!" data-wrapper-react="true">

            <span class="form-sub-label-container" style="vertical-align:top; display:inline; important;" data-input-type="first">
              <label class="form-sub-label" for="first_73" id="sublabel_73_first"style="min-height:13px; text-align: center; important!" aria-hidden="false"> سال </label>
              <input type="text" id="first_73" name="element_33" class="form-textbox" data-defaultvalue="" autoComplete="section-input_73 given-name" size="10" value="{{year}}" data-component="first" aria-labelledby="label_73 sublabel_73_first" readonly="readonly"  />

            </span>
          </div>
          <div  class="form-input-wide" data-layout="half"  style="float:left; important!"  data-wrapper-react="true">

            <span class="form-sub-label-container" style="vertical-align:top; display:inline; important;" data-input-type="last">
              <label class="form-sub-label" for="last_73" id="sublabel_73_last" style="min-height:13px; text-align: center; important!" aria-hidden="false"> ماه </label>
              <input type="text" id="last_73" name="element_22" class="form-textbox" data-defaultvalue="" autoComplete="section-input_73 family-name" size="15" value="{{mounth}}" data-component="last" aria-labelledby="label_73 sublabel_73_last" readonly="readonly" />

            </span>
          </div>
          </div>

      </li>
      <li class="form-line" data-type="control_matrix" id="id_74">

        <div id="cid_74" class="form-input-wide" data-layout="full">
          <table summary="" aria-labelledby="label_74" cellPadding="4" cellSpacing="0" style="table-layout: fixed;" class="form-matrix-table" data-component="matrix" >
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_74 label_74_row_0">
              <td class="form-matrix-values">
                <label id="label_74_row_0"> سطح نمایندگی </label>
              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_74_0_0" class="form-textbox" size="5" name="q74_typeA[0][]" style="width:100%;box-sizing:border-box" value="{{rate}}" aria-labelledby="label_74_col_0 label_74_row_0" readonly="readonly"/>
              </th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_74 label_74_row_1">

              <td class="form-matrix-values">
                <label id="label_74_row_1"> امتیاز مربوط به تخصیص نیروی فنی </label>
              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_74_1_0" class="form-textbox" size="5" name="q74_typeA[1][]" style="width:100%;box-sizing:border-box" value="{{niruyeforush}}" aria-labelledby="label_74_col_0 label_74_row_1" readonly="readonly"/>
              </th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_74 label_74_row_2">

              <td class="form-matrix-values">
                <label id="label_74_row_2"> امتیاز مربوط به تخصیص شماره تلفن فروش و نیروی فروش </label>
              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_74_2_0" class="form-textbox" size="5" name="q74_typeA[2][]" style="width:100%;box-sizing:border-box" value="{{niruyefani}}" aria-labelledby="label_74_col_0 label_74_row_2" readonly="readonly" />
              </th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_74 label_74_row_3">

              <td class="form-matrix-values">
                <label id="label_74_row_3"> شرایط پرداخت </label>
              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_74_3_0" class="form-textbox" size="5" name="q74_typeA[3][]" style="width:100%;box-sizing:border-box" value="{{conditions}}" aria-labelledby="label_74_col_0 label_74_row_3" readonly="readonly" />
              </th>
            </tr>
          </table>
        </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_75">
        <div id="cid_75" class="form-input-wide" data-layout="full">
          <div class="divider" aria-label="Divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#ecedf3;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px">
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_matrix" id="id_76">
        <label class="form-label form-label-top form-label-auto"  style="min-height:24px; text-align: center; font-size:24px" id="label_76" for="input_76"> درصد تخفیف های ارائه شده </label>
        <div id="cid_76" class="form-input-wide" data-layout="full">
          <table summary="" aria-labelledby="label_76" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_76 label_76_row_0">
              <td class="form-matrix-values">
                <label id="label_76_row_0"> درصد تخفیف یو پی اس </label>

              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_76_0_0" class="form-textbox" size="5" name="q76_input76[0][]" style="width:100%;box-sizing:border-box" value="{{UpsDiscount}}" aria-labelledby="label_76_col_0 label_76_row_0" readonly="readonly"  />

              </th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_76 label_76_row_1">

              <td class="form-matrix-values">
                <label id="label_76_row_1"> درصد تخفیف باتری و کابینت </label>
              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_76_1_0" class="form-textbox" size="5" name="q76_input76[1][]" style="width:100%;box-sizing:border-box" value="{{CabinBatteryDiscount}}" aria-labelledby="label_76_col_0 label_76_row_1" readonly="readonly"  />
              </th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_76 label_76_row_2">

              <td class="form-matrix-values">
                <label id="label_76_row_2"> درصد تخفیف خدمات </label>

              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_76_2_0" class="form-textbox" size="5" name="q76_input76[2][]" style="width:100%;box-sizing:border-box" value="{{ServiceDiscount}}" aria-labelledby="label_76_col_0 label_76_row_2" readonly="readonly" />

              </th>
            </tr>
          </table>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_77">
        <div id="cid_77" class="form-input-wide" data-layout="full">
          <div data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
            <button id="input_77" type="submit" class="form-submit-button form-submit-button-blue submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="" formtarget=”_blank;”>
              مشاهده گزارش کلی فروش به تفکیک فاکتور
            </button>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_78">
        <label class="form-label form-label-top form-label-auto"  style="min-height:24px; text-align: center; font-size:24px" id="label_78" for="input_78"> گزارش کلی فروش </label>
        <div id="cid_78" class="form-input-wide" data-layout="full">
          <textarea id="input_78" class="form-textarea" name="q78_input78" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_78" readonly="readonly">
              تعداد فاکتور فروش:
						{{n}}

				فهرست یو پی اس های فروخته شده:
						{{NumberOfUps}}

				فهرست باتریهای فروخته شده:
						{{NumberOfBat}}

				فهرست کابینت باتری فروخته شده:
						{{cabinetStr}}
            </textarea>
        </div>
      </li>
      <li class="form-line" data-type="control_matrix" id="id_79">
        <label class="form-label form-label-top form-label-auto" style="min-height:24px; text-align: center; font-size:24px"  id="label_79" for="input_79"> امتیاز کسب شده در این دوره </label>
        <div id="cid_79" class="form-input-wide" data-layout="full">
          <table summary="" aria-labelledby="label_79" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix" >

            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_79 label_79_row_0">

              <td class="form-matrix-values">
                <label id="label_79_row_0"> n=تعداد دفعات فروش (تعداد فاکتور صادر شده برای مشتری) </label>

              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_79_0_0" class="form-textbox" size="5" name="q79_input79[0][]" style="width:100%;box-sizing:border-box" value="{{n}}" aria-labelledby="label_79_col_0 label_79_row_0" readonly="readonly" />

              </th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_79 label_79_row_1">

              <td class="form-matrix-values">
                <label id="label_79_row_1"> S=مجموع توان دستگاههای فروخته شده بر حسب کیلوولت آمپر (KvA) </label>
              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_79_1_0" class="form-textbox" size="5" name="q79_input79[1][]" style="width:100%;box-sizing:border-box" value="{{s}}" aria-labelledby="label_79_col_0 label_79_row_1" readonly="readonly"/>
              </th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_79 label_79_row_2">

              <td class="form-matrix-values">
                <label id="label_79_row_2"> A=مجموع ظرفیت باتری های فروخته شده بر حسب کیلو آمپر ساعت </label>
              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_79_2_0" class="form-textbox" size="5" name="q79_input79[2][]" style="width:100%;box-sizing:border-box" value="{{a}}" aria-labelledby="label_79_col_0 label_79_row_2" readonly="readonly" />

              </th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_79 label_79_row_3">
              <td class="form-matrix-values">
                <label id="label_79_row_3"> امتیاز موردی برای ماه جاری </label>
              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_79_3_0" class="form-textbox" size="5" name="q79_input79[3][]" style="width:100%;box-sizing:border-box" value="{{smoredi}}" aria-labelledby="label_79_col_0 label_79_row_3" readonly="readonly" />
              </th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_79 label_79_row_4">

              <td class="form-matrix-values">
                <label id="label_79_row_4" style="direction:rtl; text-align=right; important!">[1.5n + S+ 5A]*100+امتیاز موردی =Pm </label>

              </td>
              <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                <input type="text" id="input_79_4_0" class="form-textbox" size="5" name="q79_input79[4][]" style="width:100%;box-sizing:border-box" value="{{p}}" aria-labelledby="label_79_col_0 label_79_row_4" readonly="readonly"/>
              </th>
            </tr>
          </table>
        </div>
      </li>
     <!-- <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <script>
  JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
  JotForm.poweredByText = "Powered by Jotform";
  </script>
  <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="220603956097460" />
  <script type="text/javascript">
  var all_spc = document.querySelectorAll("form[id='220603956097460'] .si" + "mple" + "_spc");
for (var i = 0; i < all_spc.length; i++)
{
  all_spc[i].value = "220603956097460-220603956097460";
}
  </script>
  <div class="formFooter-heightMask">
  </div>
  <div class="formFooter f6 branding21">
    <div class="formFooter-wrapper formFooter-leftSide">
      <a href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=220603956097460&utm_content=jotform_logo&utm_campaign=powered_by_jotform_le" target="_blank" class="formFooter-logoLink"><img class="formFooter-logo" src="https://cdn.jotfor.ms/assets/img/logo2021/jotform-logo-white.svg" alt="Jotform Logo" style="height: 44px;"></a>
    </div>
    <div class="formFooter-wrapper formFooter-rightSide">
      <span class="formFooter-text">
        Now create your own Jotform - It's free!
      </span>
      <a class="formFooter-button" href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=220603956097460&utm_content=jotform_button&utm_campaign=powered_by_jotform_le" target="_blank">Create your own Jotform</a>
    </div>
  </div>-->
	</ul>
  </div>
</form></body>
</html>
<!--<script type="text/javascript">JotForm.ownerView=true;</script>-->