<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F220603956097460" title="oEmbed Form">
<link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F220603956097460" title="oEmbed Form">
<meta property="og:title" content=" سامانه مدیریت نمایندگان شرکت مهرآذین بهراد" >
<!--<meta property="og:url" content="https://form.jotform.com/220603956097460" >-->
<!--<meta property="og:description" content="Please click the link to complete this form." >-->
<!--<meta name="slack-app-id" content="AHNMASS8M">-->
<!--<link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021.svg">-->
<!--<link rel="canonical" href="https://form.jotform.com/220603956097460" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>سامانه مدیریت نمایندگان شرکت مهرآذین بهراد</title>
<style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5eb3b4ae85bd2e1e2966db96"/>
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.31519" />
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.31519" />
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
.form-label.form-label-auto {

      display: block;
      float: none;
      text-align: left;
      width: 100%;

      }
    /* Injected CSS Code */
</style>

<script src="https://cdn01.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="../static/myjs.js" type="text/javascript"></script>

<script type="text/javascript">	JotForm.newDefaultTheme = true;
	JotForm.extendsNewTheme = false;
	JotForm.newPaymentUIForNewCreatedForms = false;
	JotForm.newPaymentUI = true;

	JotForm.init(function(){
	/*INIT-START*/
	/*INIT-END*/
	});


</script>

</head>
<body dir="rtl" align="right" >
<form class="jotform-form" action="/final-score-by-admin" method="post" style="direction:rtl;text-align:right; alig:right;"name="form_220603956097460" id="220603956097460" accept-charset="utf-8" autocomplete="off">
  <input type="hidden" name="formID" value="220603956097460" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <style>
      .form-all:before { background: none;}
    </style>
    <ul class="form-section page-section">
      <li id="cid_10" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httac htvam">
            <h2 id="header_10" class="form-header" data-component="header" style="direction:rtl;">
              سامانه مدیریت نمایندگان شرکت مهرآذین بهراد
            </h2>
            <div id="subHeader_10" class="form-subHeader" style="direction:rtl;">
              در این قسمت امتیازات محاسبه شده توسط نرم افزار را می توانید مشاهده کنید
            </div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_43" style=" direction:rtl;">
        <label class="form-label d-flex justify-content-end align-items-end pe-3" id="label_43" style="min-height:24px; text-align: center; font-size:24px" " for="input_43"> نمایندگی </label>
        <div id="cid_43" class="form-input-wide" data-layout="half">
          <input type="text" id="input_43" name="element_1" data-type="input-textbox" class="form-readonly form-textbox" data-defaultvalue="" style="width:310px; align-item:center;" size="310" value="{{name}}" tabindex="-1" data-component="textbox" aria-labelledby="label_43" readonly="readonly" />
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_46">
        <label class="form-label form-label-top form-label-auto" id="label_46" for="first_46" style="min-height:24px; text-align: center; font-size:24px"> دوره زمانی </label>
        <div id="cid_46" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
               <label class="form-sub-label" for="first_46" id="sublabel_46_first" style="min-height:24px; text-align: center; font-sizep: 18px; important!;" aria-hidden="false"> ماه </label>
              <input type="text" id="first_46" name= "element_2" class="form-readonly form-textbox" data-defaultvalue="" autoComplete="section-input_46 given-name" size="10" value="{{mounth}}" tabindex="-1" data-component="first" aria-labelledby="label_46 sublabel_46_first" readonly="readonly" />

            </span>
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
              <label class="form-sub-label" for="first_46" id="sublabel_47_first" style="min-height:24px; font-sizep: 18px; text-align: center; important!;" aria-hidden="false"> سال </label>
              <input type="text" id="first_47" name= "element_2_2" class="form-readonly form-textbox" data-defaultvalue="" autoComplete="section-input_46 given-name" size="10" value="{{year}}" tabindex="-1" data-component="first" aria-labelledby="label_46 sublabel_46_first" readonly="readonly" />
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_48">
        <div id="cid_48" class="form-input-wide" data-layout="full">
          <div class="divider" aria-label="Divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#ecedf3;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px">
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_47">
        <div id="cid_47" class="form-input-wide" data-layout="full">
          <div data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
            <button id="input_47" name="submit" value="مشاهده گزارش فروش به تفکیک هر فاکتور" type="submit" class="form-submit-button form-submit-button-book_blue2 submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="" formtarget=”_blank;”>
              مشاهده گزارش فروش به تفکیک هر فاکتور
            </button>
          </div>
        </div>
      </li>
      <li class="form-line fixed-width" data-type="control_textarea" id="id_49">
       <!-- <label class="form-label form-label-top form-label-auto" id="label_49" for="element_3">

		</label>-->
        <div id="cid_49" class="form-input-wide" data-layout="full">
        <textarea id="element_3" name="element_3" style="text-align:center; width:648px; height:163px" readonly="readonly">
                            تعداد فاکتور فروش
                            {{n}}
                            فهرست یو پی اس های فروخته شده:
                            {{NumberOfUps}}
                            فهرست باتریهای فروخته شده
                            {{NumberOfBat}}
                            فهرست کابینت باتریهای فروخته شده:
                            {{Cabinet}}
        </textarea>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_52">
        <label class="form-label form-label-top form-label-auto" id="label_52" for="element_5" style="min-height:24px; text-align: center; font-size:24px"> امتیازات کسب شده در این دوره </label>
        <div id="cid_52" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
             <label class="form-sub-label" for="element_5" id="sublabel_52_first" style="min-height:13px" aria-hidden="false"> n=تعداد دفعات فروش (تعداد فاکتور برای هر مشتری) </label>
<input id="element_5" name="element_5" class="element text small" type="text" maxlength="255" value="{{n}}" readonly="readonly" />
            </span>
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
              <label class="form-sub-label" for="element_2_5" id="sublabel_52_last" style="min-height:13px" aria-hidden="false"> امتیاز موردی برای ماه جاری </label>
				<input id="element_2_5" name="element_2_5" class="element text small" type="text" maxlength="255" value="{{smoredi}}" />
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_53">
        <label class="form-label form-label-top form-label-auto" id="label_53" for="element_6">  </label>
        <div id="cid_53" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
              <label class="form-sub-label" for="element_6" id="sublabel_53_first" style="min-height:13px" aria-hidden="false"> S=مجموع توان دستگاه های فروخته شده بر حسب کیلوولت آمپر (kVA) </label>
<input id="element_6" name="element_6" class="element text small" type="text" maxlength="255" value="{{s}}" readonly="readonly" />
            </span>
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
             <label class="form-sub-label" for="element_8" id="sublabel_53_last" style="min-height:13px" aria-hidden="false"> [1.5n + S+ 5A]*100+امتیاز موردی =Pm </label>
				<input id="element_8" name="element_8" class="element text small" type="text" maxlength="255" value="{{p}}" />
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_54">
        <label class="form-label form-label-top form-label-auto" id="label_54" for="element_7">  </label>
        <div id="cid_54" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
              <label class="form-sub-label" for="element_7" id="sublabel_54_first" style="min-height:13px" aria-hidden="false"> A=مجموع ظرفیت باتری های فروخته شده بر حسب کیلو آمپر ساعت </label>
				<input id="element_7" name="element_7" class="element text small" type="text" maxlength="255" value="{{a}}" readonly="readonly" />
            </span>
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
              <label class="form-sub-label" for="element_9" id="sublabel_54_last" style="min-height:13px" aria-hidden="false"> سطح نمایندگی </label>
				<input id="element_9" name="element_9" class="element text small" type="text" maxlength="255" value="{{rate}}" readonly="readonly" />
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_55">
        <div id="cid_55" class="form-input-wide" data-layout="full">
          <div class="divider" aria-label="Divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#ecedf3;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px">
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_56">
        <label class="form-label form-label-top form-label-auto" id="label_56" for="input_56" style="min-height:24px; text-align:center; font-size: 24px"> درصد تخفیف های ارائه شده </label>
        <div id="cid_56" class="form-input-wide" data-layout="half" style=" align-items:center;">
          <span class="form-sub-label-container" style="vertical-align:top">
           <label class="form-sub-label" for="input_56" id="sublabel_input_56" style="min-height:13px" aria-hidden="false"> درصد تخفیف UPS </label>
          </span>
            <input type="text" id="input_56"name="element_10" data-type="input-textbox" class="form-readonly form-textbox" data-defaultvalue="" style="width:310px" size="310" value="{{UpsDiscount}}" tabindex="-1" data-component="textbox" aria-labelledby="label_56 sublabel_input_56" readonly="readonly" />
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_57">
        <div id="cid_57" class="form-input-wide" data-layout="half" style=" align-items:center;">
          <span class="form-sub-label-container" style="vertical-align:top">
           <label class="form-sub-label" for="input_57" id="sublabel_input_57" style="min-height:13px" aria-hidden="false"> درصد تخفیف کابینت و باتری </label>
            <input type="text" id="input_57" name="element_11" data-type="input-textbox" class="form-readonly form-textbox" data-defaultvalue="" style="width:310px" size="310" value="{{CabinBatteryDiscount}}" tabindex="-1" data-component="textbox" aria-labelledby="label_57 sublabel_input_57" readonly="" />
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_58">
        <div id="cid_58" class="form-input-wide" data-layout="half" style=" align-items:center;">
          <span class="form-sub-label-container" style="vertical-align:top">
            <label class="form-sub-label" for="input_58" id="sublabel_input_58" style="min-height:13px" aria-hidden="false"> درصد تخفیف خدمات </label>
            <input type="text" id="input_58" name="element_12" data-type="input-textbox" class="form-readonly form-textbox" data-defaultvalue="" style="width:310px" size="310" value="{{ServiceDiscount}}" tabindex="-1" data-component="textbox" aria-labelledby="label_58 sublabel_input_58" readonly="" />

          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_59">

        <div id="cid_59" class="form-input-wide" data-layout="half" style=" align-items:center;">
          <span class="form-sub-label-container" style="vertical-align:top">
            <label class="form-sub-label" for="input_59" id="sublabel_input_59" style="min-height:13px" aria-hidden="false"> شرایط پرداخت </label>
            <input type="text" id="input_59" name="element_4" data-type="input-textbox" class="form-readonly form-textbox" data-defaultvalue="" style="width:310px" size="310" value="{{conditions}}" tabindex="-1" data-component="textbox" aria-labelledby="label_59 sublabel_input_59" readonly="" />

          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_9">
        <div id="cid_9" class="form-input-wide" data-layout="full">
          <div data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
            <button id="input_9" name="submit" value="ورود اطلاعات و ثبت آن در دیتابیس" type="submit" class="form-submit-button form-submit-button-book_blue2 submit-button jf-form-buttons jsTest-submitField" data-component="button" >
              ثبت اطلاعات در بانک اطلاعاتی
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <!--<script>
  JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
  JotForm.poweredByText = "Powered by Jotform";
  </script>
  <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="220603956097460" />
  <script type="text/javascript">
  var all_spc = document.querySelectorAll("form[id='220603956097460'] .si" + "mple" + "_spc");
for (var i = 0; i < all_spc.length; i++)
{
  all_spc[i].value = "220603956097460-220603956097460";
}
  </script>-->
  <div class="formFooter-heightMask">
  </div>
</form></body>
</html>

<!--<script type="text/javascript">JotForm.ownerView=true;</script>-->
